<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Friend App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/friends">Friends</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/contactus">Contact Us</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active current">
          <span class="nav-link" (click)="onClick()" style="cursor: pointer">Logout</span>
      </li>
    </ul>
  </div>
</nav>